################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Library/.vs/config
/Library/Library/bin
/Library/Library/obj/Debug
/Library/Library.Tests/obj/Debug
/Library/packages
/Library/Library.Tests/bin/Debug
/Library/Library/*.user
