@{
    ViewBag.Title = "O projekcie";
    ViewBag.Message = "Strona opisująca projekt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>To jest projekt z aplikacji internetowych, napisany w czasie semestru letniego 2017/2018</p>
