@{
    ViewBag.Title = "Kontakt";
    ViewBag.Message = "Strona kontaktowa";
    var mail = "mail@mail.com";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Grzegorz W<br />
</address>

<address>
    <strong>Autor:</strong> <a href=@string.Concat("mailto:", @mail)>@mail</a><br />
</address>